<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
		['Dealership', 'Users'],
		['Mouw Motor Company', 10.0],
		['Ron Alpen Ford', 2.0],
		['Courtesy Ford-Lincoln', 10.0],
		['Don Woodhams Ford', 8.0],
		['Walterboro Ford', 7.0],
		['Haselden Brothers', 0.0],
		['Roanoke Ford', 9.0],
		['Freese Motors', 4.0],
		['Wentzel Ford', 5.0],
		['Illinois Truck Center Inc', 0.0],
		['Lockhart Motor Company', 7.0],
		['Breaman Merrill Ford', 8.0],
		['Lanterman Motors', 2.0],
		['Chuck Spaeth Ford', 0.0],
		['Siouxland Trailer Sales Inc', 0.0],
		['Fairmont Ford', 9.0],
		['FMI Truck Sales & Service Isuzu', 25.0],
		['Dorsett Ford-Mercury', 7.0],
		['Cooper Motors Inc', 2.0],
		['Hacienda Ford', 39.0],
		['Busch Auto Center Inc', 4.0],
		['K & W Motors', 3.0],
		['Parkway Ford Sales', 15.0],
		['Matlock Ford', 8.0],
		['Phil\'s Ford', 4.0],
		['Joe Mahan Ford', 10.0],
		['Astleford Intl Trucks', 17.0],
		['Granite State Truck Center', 0.0],
		['Larsen International', 0.0],
		['Eddie Preuitt Ford', 7.0],
		['Quality Services Corporation', 9.0],
		['O\'Connor\'s Chrysler Dodge Jeep Inc', 8.0],
		['Crowe Ford Sales', 15.0],
		['Gerald N Evenson Inc', 2.0],
		['Alex Auto and Marine', 1.0],
		['Johnson Sales', 16.0],
		['NextGen Motors & Watersports', 1.0],
		['Milo Peterson Ford Co', 3.0],
		['Fitzpatrick and Lambert', 7.0],
		['Al Scheppers', 0.0],
		['Lochen Ford', 10.0],
		['West Branch Ford', 9.0],
		['The Truck Source', 1.0],
		['Martin Chrysler, Dodge, Jeep & Ram', 12.0],
		['Litchfield Chrysler Center', 3.0],
		['Christianson Farm Machinery Inc', 2.0],
		['Schrunk\'s Canby Implement Co', 1.0],
		['Huss Implement Co', 3.0],
		['Lake Truck Sales & Service', 14.0],
		['Hansen International', 4.0],
		['Baribeau Implement', 20.0],
		['Beller & Backes Inc', 5.0],
		['Fred Blackbourn & Sons Inc', 4.0],
		['Caledonia Implement Co', 8.0],
		['Finney Implement Inc', 9.0],
		['Janson Equipment Co', 31.0],
		['Lillegard Inc', 5.0],
		['Mascoutah Equipment Co Inc', 0.0],
		['Roeder Implement', 31.0],
		['Carl F Statz & Sons', 16.0],
		['West River International', 8.0],
		['Ron Drenkow Motors', 7.0],
		['Louisburg Garage Inc', 3.0],
		['La Farge Truck Center', 4.0],
		['Portland North Truck Center', 19.0],
		['Meyer International Trucks', 10.0],
		['Opdykes Sales & Service', 0.0],
		['Shirk\'s International', 6.0],
		['Astleford Intl & Isuzu', 9.0],
		['J & B International Trucks', 1.0],
		['Ben Funk', 14.0],
		['H.L. Gage', 14.0],
		['Delurey Sales & Service', 5.0],
		['Valley Truck Parts and Service Inc', 0.0],
		['Tauke Motors', 7.0],
		['Heavy Equipment', 4.0],
		['Defiance Truck Service', 6.0],
		['Windridge Implements LLC', 21.0],
		['Martin Ford Sales', 6.0],
		['Valley Ford', 10.0],
		['John Carpenter Ford', 3.0]]);
        var options = {
          title: 'Advantage Active Users',
          legend: { position: 'none' },
          hAxis: { title: '# of Users' },
          vAxis: { title: '# of Dealerships in range' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

