header {
	height: 120px;
}

header h1 {
	float: left;
	margin-top: 32px;
}

header h1 .color {
	color: #02b8dd;
}

header nav {
	float: right;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 50px;
}

header nav ul li a {
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 20px;
}

<header>
        <div class="wrapper">
                <h1>log2aws</h1>
                <nav>
                        <ul>
                                <li><a href="#">Endday</a></li>
                                <li><a href="#">Upgrade</a></li>
                                <li><a href="#">Sqlbackup</a></li>
                                <li><a href="#">Archiving</a></li>
                        </ul>
                </nav>
        </div>
</header>

